<p>Hello,</p>
<p>
  Thank you for your interest in SeqtoID! <br/>
  We will be in touch soon to learn more about your work and how SeqtoID can help you.<br/>
  If your team is already on SeqtoID, ask a collaborator to add you to a project to get immediate access.
</p>
<p>
  Cheers,<br/> The SeqtoID Team
</p>
