<p>Someone entered your email for a password reset request on SeqtoID, but we couldn’t find a matching account. If you think this is a mistake, please <a href="https://helpcenter.seqtoid.org/contact" target="_blank">contact us for help</a>.</p>
<p>
  Thanks,<br /> The SeqtoID Team
</p>